pickle==0.7.5
fastapi==0.112.2
uvicorn==0.20.0
pydantic==2.8.2
requests==2.32.3
yellowbrick==1.5
numpy==1.26.4
matplotlib==3.8.4
pandas==2.2.3 
seaborn==0.12.2 
funpymodeling==0.1.9 
scikit-learn==1.5.1
jupyter==1.0.0
